@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;600;800&family=Source+Code+Pro:wght@500;700;900&display=swap');

:root {

  /**
   * colors
   */

  --smokey-black: hsl(0, 0%, 7%);
  --eerie-black: hsl(0, 0%, 9%);
  --radical-red: hsl(346, 100%, 58%);
  --white_a9: hsla(0, 0%, 100%, 0.09);
  --white_a15: hsla(0, 0%, 100%, 0.15);
  --white_a25: hsla(0, 0%, 100%, 0.25);
  --white_a50: hsla(0, 0%, 100%, 0.5);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --white_a75: hsla(0, 0%, 100%, 0.75);
  --white_a80: hsla(0, 0%, 100%, 0.8);
  --jet-1: hsl(0, 0%, 20%);
  --jet-2: hsl(0, 0%, 16%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * gradient color
   */

  --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
  --gradient-2: linear-gradient(180deg,var(--smokey-black) 25%,hsla(0, 0%, 0%, 0.6) 80%);

  /**
   * typography
   */

  --ff-recoleta: "Recoleta", serif;
  --ff-gordita: "Gordita", sans-serif;
  
  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 3.8rem;
  --fs-4: 2.8rem;
  --fs-5: 2.6rem;
  --fs-6: 3.8rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.2rem;
  
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * shadow
   */

  --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-25: 25px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}


::selection {
  color: rgb(229, 255, 0);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

body.active { overflow: hidden; }

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: var(--white); }

::-webkit-scrollbar-thumb { background-color: var(--jet-2); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.shape { display: none; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--ff-recoleta);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
}

.h2,
.h3,
.h4,
.h5,
.h6 { font-weight: var(--fw-300); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-6); }

.h5 { font-size: var(--fs-5); }

.h6 { font-size: var(--fs-6); }

.img-holder {
  background-color: var(--jet-1);
  overflow: hidden;
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: "";
  position: absolute;
}

.img-holder.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-icon {
  background-color: var(--bg-color, var(--white));
  border-radius: var(--border-radius, var(--radius-circle));
  display: grid;
  place-content: center;
  transition: var(--transition-2);
}

.btn-icon path { transition: var(--transition-2); }

.btn-icon:is(:hover, :focus-visible) {
  background-color: var(--hover-bg-color, var(--white));
}

.btn-icon:is(:hover, :focus-visible) path {
  stroke: var(--hover-text-color, var(--black));
}

.section-subtitle {
  color: var(--white_a25);
  font-size: var(--fs-7);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

[data-reveal].revealed {
  transform: translateY(0);
  opacity: 1;
}


  .gallery-list {
    display: grid;
    gap: 30px;
  }
  
  .gallery-list {
    display: grid;
    gap: 30px;
  }
  
  .gallery-item,
  .gallery-card { position: relative; }
  
  .gallery-card :is(.card-content, .btn-icon) {
    position: absolute;
    z-index: 1;
  }
  
  .gallery-card .card-content {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 12px;
  }
  
  .gallery-card .card-tag {
    color: var(--white_a70);
    font-size: var(--fs-9);
    font-weight: var(--fw-300);
  }
  
  .gallery-card .card-title {
    font-weight: var(--fw-400);
    max-width: max-content;
    margin-block-end: 2px;
    color: plum;
  }
  
  .gallery-card .card-title:is(:hover, :focus-visible) { text-decoration: underline; }
  
  .gallery-card .btn-icon {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    --border-radius: 0 0 0 var(--radius-25);
  }
  
  .gallery-card .btn-icon img {
    width: 25px;
    transform: rotate(-45deg);
  }
  
  .gallery-card .btn-icon:is(:hover, :focus-visible) {
    border-bottom-left-radius: var(--radius-5);
  }
  
  .gallery-card { animation: changeCard 10s linear infinite; }
  
  .gallery-item .gallery-card:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    animation-delay: 5s;
  }
  
  .gallery a {
    font-size: small;
  }

  @keyframes changeCard {
    0%,
    55%,
    100% {
      opacity: 0;
      visibility: hidden;
    }
  
    5%,
    50% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .gallery-item:is(:hover, :focus-within) .gallery-card { animation-play-state: paused; }
  
  .gallery .scroll-down {
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    margin-inline: auto;
    margin-block-start: 55px;
    border: 1px solid var(--white_a15);
    border-radius: var(--radius-circle);
    transition: var(--transition-2);
    animation: scrollDown 2.5s linear infinite alternate;
  }
  
  .gallery .scroll-down img { width: 22px; }
  
  .gallery .scroll-down:is(:hover, :focus-visible) {
    background-color: var(--radical-red);
    border-color: var(--radical-red);
  }
  
  @keyframes scrollDown {
    0% { transform: translateY(-12px); }
    100% { transform: translateY(12px); }
  }
  
  @media (min-width: 992px) {
  
    :root {
  
      --fs-1: 8rem;
  
    }

    .section { position: relative; }
  
    .container { max-width: 960px; }
  
    .shape {
      display: block;
      position: absolute;
    }

    .header { padding-block: 30px; }
  
    .navbar {
      padding: 40px;
      padding-block-end: 10px;
    }
  
    .navbar-link { --fs-7: 2.4rem; }
  
    .navbar-title { --fs-8: 2.2rem; }
  
    .navbar-text {
      font-size: 1.9rem;
      margin-block-end: 30px;
    }
    .hero { padding-block-start: 150px; }
  
    .hero .container {
      position: relative;
      z-index: 1;
    }
  
    .hero-title { text-align: left; }
  
    .hero .wrapper {
      --fs-2: 8rem;
      margin-block: -5px 10px;
    }
  
    .hero-banner {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      max-width: 200px;
      z-index: -1;
    }
  
    .hero .shape { display: none; }
  
  
    .gallery-list { grid-template-columns: repeat(4, 1fr); }
  
    .gallery-item:nth-child(even) { margin-block-start: 100px; }
  
    .gallery .scroll-down {
      width: 85px;
      height: 85px;
      margin-block-start: 100px;
    }
  
    .gallery .scroll-down img { width: 26px; }
  
    .gallery .shape {
      left: 5%;
      bottom: 15%;
    }
  
    .category { --section-padding: 60px; }
  
    .category-card { position: relative; }
  
    .category-card .card-banner {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -20px);
      width: 200px;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-2);
    }
  
    .category-card:is(:hover, :focus-visible) .card-banner {
      transform: translate(-50%, 0);
      visibility: visible;
      opacity: 1;
    }
  
    .category-card .card-title { --fs-4: 5.5rem; }
  
    .category-item { min-width: max-content; }
  
    .category-list {
      row-gap: 0;
      justify-content: flex-start;
    }
  
    .about .container {
      grid-template-columns: 0.9fr 1fr;
      align-items: flex-start;
      gap: 80px;
    }
  
    .about-content { order: 1; }
  
    .about-banner .shape-2 {
      width: 100%;
      bottom: -20px;
      left: 0;
      animation: moving 8s linear infinite;
    }
  
    @keyframes moving {
      0%,
      100% { transform: translateY(0); }
  
      50% { transform: translateY(30px); }
    }
  
    .about .shape-3 {
      bottom: 0;
      right: 0;
    }
  
    .service-card { position: relative; }
  
    .service-card .img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-1);
      z-index: -1;
    }
  
    .service-card:is(:hover, :focus-within) .img {
      opacity: 1;
      visibility: visible;
    }

    .portfolio {
      padding-block-end: 150px;
      margin-block-end: 60px;
    }
  
    .portfolio .shape {
      bottom: 0;
      right: 0;
    }
  
    .footer .shape {
      top: 25%;
      left: 0;
    }
  
    .footer .abs-img {
      display: block;
      position: absolute;
      max-width: max-content;
      z-index: -1;
    }
  
    .footer .abs-img-1 {
      width: 9%;
      top: 12%;
      left: 10%;
    }
  
    .footer .abs-img-2 {
      width: 14%;
      top: 15%;
      right: 0;
    }
  
    .footer .abs-img-3 {
      width: 16%;
      left: 0;
      bottom: 10%;
    }
  
    .footer .abs-img-4 {
      width: 9%;
      right: 15%;
      bottom: 10%;
    }

    .cursor {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
      background-color: var(--white);
      mix-blend-mode: exclusion;
      border-radius: var(--radius-circle);
      transform: translate(-50%, -50%) scale(0.35);
      transition: transform 0.35s;
      pointer-events: none;
      z-index: 6;
    }
  
    .cursor.hovered { transform: translate(-50%, -50%) scale(1.2); }
  
    .cursor.disabled { transform: translate(-50%, -50%) scale(0); }
  
  }

  @media (min-width: 1200px) {
  
    :root {
  
      --fs-1: 10rem;
      --fs-2: 9rem;
      --fs-3: 6.8rem;
      --fs-4: 3.6rem;
      --fs-6: 2.8rem;
  
    }
    .container { max-width: 1140px; }

    .header .container { padding-inline: 35px; }
  
    .hero { padding-block: 170px 150px; }
  
    .hero .container { max-width: 1250px; }
  
    .hero .wrapper {
      --fs-2: 10rem;
      margin-block: -10px 15px;
    }
  
    .hero .wrapper .strong { left: 40%; }
  
    .hero-text {
      --fs-10: 2rem;
      font-weight: var(--fw-400);
      letter-spacing: 8px;
    }
  
    .hero-banner { max-width: 290px; }
  
    .hero .shape {
      display: block;
      top: 60%;
      left: 0;
    }
  
    .gallery-list { gap: 50px; }

    .gallery {margin-left: 50px;
    margin-right: 24px;
    }
  
    .gallery-card .card-title { font-weight: var(--fw-300); }

    .category-list { column-gap: 15px;
    margin-top: 100px;
    margin-bottom: 140px;
    }
  
    .category-card .card-title { --fs-4: 7rem; }

    .about .container { gap: 120px; }
  
    .about .shape-1 { width: max-content; }
  
    .about .section-title { margin-block-end: 70px; }
  
    .about .wrapper { padding-inline-start: 80px; }
  
    .about .wrapper::before {
      width: 35px;
      height: 30px;
    }
  
    .about .section-text {
      --fs-6: 3.2rem;
      margin-block-end: 50px;
    }
  
    .service-card { padding-block: 50px; }
  
    .service-card .card-subtitle { --fs-7: 2.4rem; }
  
    .service-card .img { width: max-content; }
  
    .service-card .btn-icon {
      width: 95px;
      height: 95px;
    }
  
    .service-card .btn-icon svg { width: 40px; }

    .portfolio-list { column-gap: 90px; }
  
    .portfolio-card { margin-block-end: 100px; }
  
    .portfolio-card .card-content { padding-inline: 50px; }
  
    .portfolio-card .btn-icon {
      width: 60px;
      height: 60px;
      top: auto;
      bottom: 45px;
      right: 50px;
      opacity: 0;
      transition: var(--transition-2);
    }
  
    .portfolio-card .btn-icon svg { width: 25px; }
  
    .portfolio-card:is(:hover, :focus-within) .btn-icon { opacity: 1; }
  
    .footer-top { padding-block: 300px; }
  
    .footer-top .section-title {
      --fs-2: 8rem;
      margin-block-start: 50px;
    }
  
    .footer .btn-icon {
      width: 90px;
      height: 90px;
    }
  
    .footer .btn-icon img { width: 45px; }
  
  }

  @media (min-width: 1400px) {

    :root {

      --fs-1: 13rem;
      --fs-2: 10rem;
      --fs-3: 8rem;
  
    }
  
    .container { max-width: 1320px; }
  
    :is(.header, .gallery, .category, .portfolio) .container { max-width: 1580px; }
  
    .header .container { padding-inline: 60px; }

    .hero .container { max-width: 1500px; }
  
    .hero-content { margin-inline-end: 400px; }
  
    .hero .wrapper { --fs-2: 13rem; }
  
    .hero-text { --fs-10: 2.4rem; }
  
    .hero-banner { max-width: max-content; }

    .category .container { padding-inline: 40px; }
  
    .category-card .card-title { --fs-4: 8rem; }

    .about { padding-block: 180px 120px; }
  
    .service { padding-inline: 70px; }
  
    .service-card { padding-block: 65px; }

    .portfolio .container { padding-inline: 45px; }
  
    .footer-top .container { max-width: 1200px; }
  
  }

  @media (max-width: 400px) {
    .first-section {
      top: 200px;
    }

    .nav {
      
      top:200px;
    }
  }


  .category {
    --section-padding: 40px;
    border-block: 1px solid var(--white_a9);
  }
  
  .category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 10px;
  }
  
  
  .category-card .card-title {
    color: var(--white); 
    text-align: center;
    transition: var(--transition-2);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Code Pro', monospace;

  }
  
  .category-card:is(:hover, :focus-visible) .card-title { color: var(--white_a25); }