@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /**
   * colors
   */

  --smokey-black: hsl(0, 0%, 7%);
  --eerie-black: hsl(0, 0%, 9%);
  --radical-red: hsl(278, 100%, 58%);
  --jet-1: hsl(0, 0%, 20%);
  --jet-2: hsl(0, 0%, 16%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);


  --gradient-1: linear-gradient(180deg, transparent, var(--smokey-black));
  --gradient-2: linear-gradient(180deg,var(--smokey-black) 25%,hsla(0, 0%, 0%, 0.6) 80%);
  
  --fs-1: 6rem;
  --fs-2: 5rem;
  --fs-3: 3.8rem;
  --fs-4: 2.8rem;
  --fs-5: 2.6rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.2rem;
  
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * shadow
   */

  --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-25: 25px;

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-gordita);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--smokey-black);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  line-height: 2.15;
  overflow-x: hidden;
}

body.active { overflow: hidden; }

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: var(--white); }

::-webkit-scrollbar-thumb { background-color: var(--jet-2); }


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.shape { display: none; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--ff-recoleta);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
}

.h2,
.h3,
.h4,
.h5,
.h6 { font-weight: var(--fw-300); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-4); }

.h5 { font-size: var(--fs-5); }

.h6 { font-size: var(--fs-6); }


.img-holder1 {
  aspect-ratio: 450/625;
  overflow: hidden;
  background-color: var(--jet-1);
}

.img-holder2 {
  aspect-ratio: 450/625;
  overflow: hidden;
  background-color: var(--jet-1);
}

.img-holder3 {
  aspect-ratio: 700/605;
  overflow: hidden;
  background-color: var(--jet-1);
}

.img-holder4 {
  aspect-ratio: 700/1091;
  overflow: hidden;
  background-color: var(--jet-1);
}

.img-holder5 {
  aspect-ratio: 700/1000;
  overflow: hidden;
  background-color: var(--jet-1);
}

.img-holder6 {
  aspect-ratio: 700/850;
  overflow: hidden;
  background-color: var(--jet-1);
}

.has-before {
  position: relative;
  z-index: 1;
}

.has-before::before {
  content: "";
  position: absolute;
}

.img-holder1.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-holder2.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-holder6.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-holder5.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-holder4.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}

.img-holder.has-before::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: var(--gradient-1);
}



.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-icon {
  background-color: var(--bg-color, var(--white));
  border-radius: var(--border-radius, var(--radius-circle));
  display: grid;
  place-content: center;
  transition: var(--transition-2);
}

.btn-icon path { transition: var(--transition-2); }

.btn-icon:is(:hover, :focus-visible) {
  background-color: var(--hover-bg-color, var(--white));
}

.btn-icon:is(:hover, :focus-visible) path {
  stroke: var(--hover-text-color, var(--black));
}

.section-subtitle {
  color: var(--white_a25);
  font-size: var(--fs-7);
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

[data-reveal] {
  transform: translateY(50px);
  opacity: 1;
  transition: var(--transition-3);
}

[data-reveal="left"] { transform: translate(-50px, 0); }

[data-reveal="right"] { transform: translate(50px, 0); }

[data-reveal].revealed {
  transform: translate(0, 0);
  opacity: 1;
}

/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/

.gallery-list {
  display: grid;
  gap: 30px;
}

.gallery-item,
.gallery-card { position: relative; }

.gallery-card :is(.card-content, .btn-icon) {
  position: absolute;
  z-index: 1;
}

.gallery-card .card-content {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 12px;
}

.gallery-card .card-tag {
  color: var(--white_a70);
  font-size: var(--fs-9);
  font-weight: var(--fw-300);
}

.gallery-card .card-title {
  font-weight: var(--fw-400);
  max-width: max-content;
  margin-block-end: 2px;
}

.gallery-card .card-title:is(:hover, :focus-visible) { text-decoration: underline; }

.gallery-card .btn-icon {
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  --border-radius: 0 0 0 var(--radius-25);
}

.gallery-card .btn-icon img {
  width: 25px;
  transform: rotate(-45deg);
}

.gallery-card .btn-icon:is(:hover, :focus-visible) {
  border-bottom-left-radius: var(--radius-5);
}

.gallery-card { animation: changeCard 10s linear infinite; }

.gallery-item .gallery-card:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  animation-delay: 5s;
}

@keyframes changeCard {
  0%,
  55%,
  100% {
    opacity: 0;
    visibility: hidden;
  }

  5%,
  50% {
    opacity: 1;
    visibility: visible;
  }
}

.gallery-item:is(:hover, :focus-within) .gallery-card { animation-play-state: paused; }

.gallery .scroll-down {
  width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
  margin-inline: auto;
  margin-block-start: 55px;
  border: 1px solid var(--white_a15);
  border-radius: var(--radius-circle);
  transition: var(--transition-2);
  animation: scrollDown 2.5s linear infinite alternate;
}

.gallery .scroll-down img { width: 22px; }

.gallery .scroll-down:is(:hover, :focus-visible) {
  background-color: var(--radical-red);
  border-color: var(--radical-red);
}

@keyframes scrollDown {
  0% { transform: translateY(-12px); }
  100% { transform: translateY(12px); }
}

/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category {
  --section-padding: 40px;
  border-block: 1px solid var(--white_a9);
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px 10px;
}

.category-item { max-width: calc(50% - 5px); }

.category-card .card-title {
  color: var(--white_a25);
  margin-block-end: 10px;
  text-align: center;
  transition: var(--transition-2);
}

.category-card:is(:hover, :focus-visible) .card-title { color: var(--white); }


.proshows { padding-block-end: 100px; }

.proshows .section-title { margin-block-end: 60px; }

.proshows-card {
  position: relative;
  margin-block-end: 50px;
}

.proshows-card :is(.card-content, .btn-icon) {
  position: absolute;
  z-index: 1;
}

.proshows-card .card-content {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px;
}

.proshows-card .card-tag {
  color: var(--white_a70);
  font-weight: var(--fw-300);
}

.proshows-card .btn-icon {
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;

  --hover-bg-color: var(--radical-red);
  --hover-text-color: var(--white);
}

.proshows-card .btn-icon svg { width: 20px; }

.proshows-card .card-title:is(:hover, :focus) { text-decoration: underline; }


/* Slider */
.slider{
  height: 380px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-track{
  display: flex;
  width: calc(340px * 30);
  -webkit-animation: scroll 25s linear infinite reverse;
  animation: scroll 20s linear infinite reverse;
}

.slider-track1{
  display: flex;
  width: calc(340px * 30);
  -webkit-animation: scroll 25s linear infinite;
  animation: scroll 20s linear infinite;
}

.slider:hover .slider-track {
  animation-play-state: paused;
}

.slider:hover .slider-track1 {
  animation-play-state: paused;
}

.slider:hover .slider-track {
  animation-play-state: paused;
}

.slider > img{
  object-fit: cover;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-380px * 15));
  }
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}


.slide{
  height: 380px;
  width: 340px;
  display: flex;
  align-items: center;
  padding: 10px;
}


/* navbar */


.navbar-li {
  font-family: monospace;
  font-weight: 600;
  background: linear-gradient(360deg, rgb(255, 255, 255) 17%, rgb(121, 121, 121) 97%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cffbf 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}

/* event card */
.card {
  position: relative;
  width: 400px;
  height: 490px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  
}

.card::before {
  content:'';
  inset: 0;
  left: -10px;
  margin: auto;
  width: 420px;
  height: 510px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 1s cubic-bezier(0.18, 0.885, 0.32, 1.275);
  position: absolute;
}


.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}


.card:hover::before {
  transform: rotate(-90deg) scaleX(1.24) scaleY(0.84);
}

@media screen and (max-width: 600px) {
  .card {
    width:300px;
    height: 450px;
    /* background-color: transparent; */
    border-radius: 8px;
    position: relative;
  }

  .card::before {
    width: 320px;
    height: 460px;
    border-radius: 20px;
  }

  .card:hover::before {
    transform:none;
  }
  
}

.flare {
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999;
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

@media screen and (max-width: 500px) {
  .flare {
    display: none;
  }
}

/* bg */

.container1 {
  width: 100%;
  height: 100%;
  z-index: 60;
  --color: rgba(64, 63, 63, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

/* loader */
.svgbox {
  --blue: rgb(243, 50, 43);
  stroke: var(--blue);
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
  }
}

/* strip */

.error {
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 50px;
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
  background: linear-gradient(to right, #f45c43, #eb3349);
  box-shadow: 0 0px 10px #de1c3280;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__close path {
  fill: #fff;
}

/* components/Marquee.module.css */

/* components/Marquee.module.css */

.marquee {
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  background-color: #9710ff;
  padding: 10px;
  transform: rotate(-3deg);
  margin-top: 6rem;
  animation: marquee-scroll 240s linear infinite;
  border: #020202 dotted 5px;
  z-index: -2;
}

.content {
  display: flex;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0%) rotate(-3deg);
  }
  100% {
    transform: translateX(0%) rotate(-3deg);
  }
}

.main-marquee{
  position: relative;
}

.marquee2 {
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  background-color: #686669;
  padding: 10px;
  transform: rotate(-3deg);
  margin-top: 6rem;
  animation: marquee-scroll1 240s linear infinite;
  top: 50px;
  position: absolute;
  border: #020202 dotted 5px;
  
}

.content2 {
  display: flex;
}

@keyframes marquee-scroll1 {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}

/* prallax zoom */

.container2 {
    height: 300vh;
    position: relative;
}

.container2 .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;
}

.container2 .sticky .el {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 .sticky .el:nth-of-type(2) .imageContainer2 {
    top: -30vh;
    left: 5vw;
    width: 35vw;
    height: 30vh;
}

.container2 .sticky .el:nth-of-type(3) .imageContainer2 {
    top: -10vh;
    left: -25vw;
    width: 20vw;
    height: 45vh;
}

.container2 .sticky .el:nth-of-type(4) .imageContainer2 {
    left: 27.5vw;
    width: 25vw;
    height: 25vh;
}

.container2 .sticky .el:nth-of-type(5) .imageContainer2 {
    top: 27.5vh;
    left: 5vw;
    width: 20vw;
    height: 25vh;
}

.container2 .sticky .el:nth-of-type(6) .imageContainer2 {
    top: 27.5vh;
    left: -22.5vw;
    width: 30vw;
    height: 25vh;
}

.container2 .sticky .el:nth-of-type(7) .imageContainer2 {
    top: 22.5vh;
    left: 25vw;
    width: 15vw;
    height: 15vh;
}

.container2 .sticky .el .imageContainer2 {
    position: relative;
    width: 25vw;
    height: 25vh;
}

.container2 .sticky .el .imageContainer2 img {
    object-fit: cover;
}
