@media (min-width: 992px) {
  
    :root {
  
      --fs-1: 8rem;
  
    }

    .section { position: relative; }
  
    .container { max-width: 960px; }
  
    .shape {
      display: block;
      position: absolute;
    }

    .header { padding-block: 30px; }
  
    .navbar {
      padding: 40px;
      padding-block-end: 10px;
      font-family: 'Space Grotesk';
      font-weight: 700;
    }
  
    .navbar-link { --fs-7: 2.4rem; }
  
    .navbar-title { --fs-8: 2.2rem; }
  
    .navbar-text {
      font-size: 1.9rem;
      margin-block-end: 30px;
    }
    .hero { padding-block-start: 150px; }
  
    .hero .container {
      position: relative;
      z-index: 1;
    }
  
    .hero-title { text-align: left; }
  
    .hero .wrapper {
      --fs-2: 8rem;
      margin-block: -5px 10px;
    }
  
    .hero-banner {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      max-width: 200px;
      z-index: -1;
    }
  
    .hero .shape { display: none; }
  
  
    .gallery-list { 
      display:grid;
      grid-template-columns: repeat(4, 1fr); 
    }
  
    .event-item:nth-child(even) {
      margin-block-end: 0px;
    }
    .gallery-item:nth-child(even) { margin-block-start: 100px; }

  
    .gallery .scroll-down {
      width: 85px;
      height: 85px;
    }
  
    .gallery .scroll-down img { width: 26px; }
  
    .gallery .shape {
      left: 5%;
      bottom: 15%;
    }
  
    /* category */

    .category { --section-padding: 60px; }

    .category-card { position: relative; }
  
    .category-card .card-banner {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -20px);
      width: 200px;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-2);
    }
  
    .category-card:is(:hover, :focus-visible) .card-banner {
      transform: translate(-50%, 0);
      visibility: visible;
      opacity: 1;
    }
  
    .category-card .card-title { --fs-4: 5.5rem; }
  
    .category-item { min-width: max-content; }
  
    .category-list {
      row-gap: 0;
      justify-content: flex-start;
    }
  
    .about .container {
      grid-template-columns: 0.9fr 1fr;
      align-items: flex-start;
      gap: 40px;
    }
  
  
    @keyframes moving {
      0%,
      100% { transform: translateY(0); }
  
      50% { transform: translateY(30px); }
    }

    .service-card { position: relative; }
  
    .service-card .img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-1);
      z-index: -1;
    }
  
    .service-card:is(:hover, :focus-within) .img {
      opacity: 1;
      visibility: visible;
    }

    .proshows {
      padding-block-end: 150px;
      margin-block-end: 60px;
    }
  
    .proshows .shape {
      bottom: 0;
      right: 0;
    }

    .img-holder5 {
      width: 300px;
      height: 700px;
    }
    
    .img-holder6 {
      width: 300px;
      height: 700px;
    }
    
    .img-holder4 {
      width: 400px;
      height: 791px;
    }
    
    .img-holder3 {
      width: 400px;
      height: 405px;
    }
  
  }

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 80px;

  }


  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  :is(.header, .gallery, .category, .proshows) .container { max-width: unset; }



  /**
   * HEADER
   */

  .navbar {
    max-width: 500px;
    right: -500px;
  }

  .navbar.active { transform: translateX(-500px); }



  /**
   * GALLERY
   */


  .gallery-card .btn-icon {
    transform-origin: top right;
    transform: scale(0);
  }

  .gallery-card:is(:hover, :focus-within) .btn-icon { transform: scale(1); }

  .gallery-card :is(.card-title, .card-tag) {
    transform: translateY(10px);
    opacity: 0;
    transition: var(--transition-2);
  }

  .gallery-card .card-tag { transition-delay: 0.1s; }

  .gallery-card:is(:hover, :focus-within) :is(.card-title, .card-tag) {
    transform: translateY(0);
    opacity: 1;
  }

  

  /**
   * CATEGORY
   */

  .category-item { max-width: 235px; }



  /**
   * POROSHOWS
   */

   .proshows-list {
    display: flex;
    column-gap: 30px;
  }

}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 4.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }


}



  @media (min-width: 1200px) {
  
    :root {
  
      --fs-1: 10rem;
      --fs-2: 9rem;
      --fs-3: 6.8rem;
      --fs-4: 3.6rem;
      --fs-6: 2.8rem;
  
    }
    .container { max-width: 1140px; }
  
    .gallery-list { gap: 48px;

    }

  
    .gallery-card .card-title { font-weight: var(--fw-300); }

    .category-list { column-gap: 15px;
    margin-top: 100px;
    margin-bottom: 140px;
    }
  
    .category-card .card-title { --fs-4: 7rem; }

    .category-card .card-banner {
      width: 350px;
      height: 350px;
    }



    .proshows-list { column-gap: 90px; }
  
    .proshows-card { margin-block-end: 100px; }
  
    .proshows-card .card-content { padding-inline: 50px; }
  
    .proshows-card .btn-icon {
      width: 60px;
      height: 60px;
      top: auto;
      bottom: 45px;
      right: 50px;
      opacity: 0;
      transition: var(--transition-2);
    }
  
    .proshows-card .btn-icon svg { width: 25px; }
  
    .proshows-card:is(:hover, :focus-within) .btn-icon { opacity: 1; }

    .img-holder5 {
      width: 500px;
      height: 900px;
    }
    
    .img-holder6 {
      width: 500px;
      height: 750px;
    }
    
    .img-holder4 {
      width: 500px;
      height: 991px;
    }
    
    .img-holder3 {
      width: 500px;
      height: 505px;
    }

  
  }

  @media (min-width: 1400px) {

    :root {

      --fs-1: 13rem;
      --fs-2: 10rem;
      --fs-3: 8rem;
  
    }
  
    .container { max-width: 1500px; }
  
    :is(.gallery, .category, .proshows) .container { max-width: 1580px; }

    .category .container {margin-left:50px }
  
    .category-card .card-title { --fs-6: 3rem; }

    .category-card .card-banner {
      width: 350px;
      height: 350px;
    }

    .proshows .container { padding-inline: 45px; }

    .img-holder5 {
      width: 700px;
      height: 1000px;
    }
    
    .img-holder6 {
      width: 700px;
      height: 850px;
    }
    
    .img-holder4 {
      width: 700px;
      height: 1091px;
    }
    
    .img-holder3 {
      width: 700px;
      height: 605px;
    }
  
  }


  @media (max-width: 1030px) {
    .video {
      display: none;
    }
  }
  